* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav ul.nav-links {
    list-style: none;
}

nav ul.nav-links li {
    display: inline;
    margin: 0 10px;
}

nav ul.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #ff8800;
}

.services {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.services h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.service-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.service-card img {
    max-width: 20%;
    border-radius: 5px;
}

.service-card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.service-card p {
    font-size: 16px;
    color: #777;
}


.about {
    padding: 50px 0;
    text-align: center;
    background-color: #f2f2f2;
}

.about h1 {
    font-size: 28px;
    margin-bottom: 20px;
}


.approach {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.approach h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.approach p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
}

form {
    text-align: left;
}

form input,
form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff8800;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.explore-button {
   display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}


.explore-button:hover {
    background-color: #ff8800;
}
.container{
    width: 400px;
    height: 400px;
    perspective: 800px;
    padding: 20px;
}
.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.front,
.back{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-color: #ff6600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 3rem;
}
.back{
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: rgb(211, 211, 211);
}
